.gallery-caption {}
.agent-detail-block .form-small img {
    width: auto;
}
#sidebar .widget.houzez-impress-idx-login-widget p,
#sidebar .widget.houzez-impress-idx-signup-widget p {
    margin-bottom: 10px;
}

label.error {
    display: none;
}
#myChart {
    height: 400px!important;
    width: 100%!important;
}
#houzez_floor_plans_main #plupload-container{
    overflow: hidden;
}
