.agent-slider {
  .owl-carousel {
    @media only screen and (min-width:1025px) {
      max-width: 1000px;
      margin: auto;
    }
  }
  .figure-block {
    border: solid 1px #dedede;
    margin: 0px 15px 0px 15px;
    .item-thumb {
      overflow: hidden;
    }
    .detail-bottom {
      text-align: left;
      padding: 8px;
      background-color: #fff;
      border-bottom: solid 2px #4c6b00;
      h3 {
        font-weight: 600;
        color: #000;
      }
      .list-inline {
        li {
          margin: 0px 0px 5px 0px;
          padding: 0px;
          width: 100%;
          color: #000;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 13px;
          strong {
            color: #000;
            font-size: 13px;
            font-weight: 600;
          }
          &:first-child {
            span {
              display: block;
              font-weight: 500;
              color: #7daf00;
              text-transform: uppercase;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 13px;
            }
            a {
              display: block;
              color: #000;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 12px;
              text-transform: capitalize;
            }
          }
          &:last-child, &:nth-of-type(3n+2) {
            margin: 0px;
          }
        }
      }
    }
  }
  .module-nav {
    .btn {
      border: solid 1px #311b92 !important;
      color: #311b92 !important;
      font-weight: 500;
    }
  }
  .owl-controls {
    display: none;
  }
  &.houzez-module {
    padding: 10px 0px;
  }
}
