.banner-container {
  border-bottom: solid 5px #0bab00;
  padding: 0px;
  position: relative;
  // .owl-controls
  .owl-controls {
    margin: 0px;
    .owl-nav {
      [class*=owl-] {
        width: 30px;
        height: 50px;
        .fa {
          font-size: 40px;
          line-height: 44px;
        }
      }
    }
    .owl-dots {
      display: none !important;
    }
  }
// main search
@import "main-search.scss";
}
ul[tab-search] {
  float: left;
  width: 100%;
  margin: -44px -10px 0px;
  padding: 0px;
  list-style: none;
  @media only screen and (max-width:768px) {
    margin: -38px -8px 0px;
  }
  li {
    float: left;
    padding: 0px;
    margin-right: 2px;
    a {
      color: #000;
      font-size: 16px;
      padding: 6px 15px;
      background-color: rgba(255,255,255,.66);
      display: block;
      height: 100%;
      @media only screen and (max-width:768px) {
        font-size: 13px;
        padding: 6px 12px;
      }
      &.tabactive {
        background-color: rgba(0,0,0,0.66);
        color: #fff;
      }
    }
  }
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
