#Configurations {
  .item-wrap {
    background-color: #dedede;
    .property-item {
      background-color: #dedede;
    }
    .item-foot {
      background-color: #dedede;
    }
  }
  .headHeight {
    height: 60px;
    display: block;
    background-color: #999;
  }
}
