.feature-circle {
  padding: 0px;
  ul {
    list-style: none;
    li {
      border: solid 1px red;
      display: inline-table;;
      width: 33.3333%;
      float: left;
      padding: 0px;
      margin: 0px;
    }
  }
}
