.nopadding {
  padding: 0px !important;
}
@import "_topNav.scss";
/*START HEADER VERSION 4*/
.header-section-4 {
  z-index: 500;
}
.header-section-4 .header-left .navi {
  float: left;
  margin-left: 5%;
}
.header-section-4 .header-right .btn-default {
  background-color: rgba(255, 255, 255, 0.2);
}
.header-section-4 .header-right .btn-default:hover {
  background: transparent;
}
.header-section-4 .logo {
  line-height: 85px;
}
.header-section-4 {
  .header-right {
    a {
      color: #000;
      vertical-align: middle;
      .fa-navicon {
        font-size: 25px;
      }
      &:hover {
        color: #000;
      }
    }
  }
}
.homepage {
  header {
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
  }
  .user {
    a {
      color: #fff;
      position: relative;
      &:hover {
        color: #dedede;
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header-section-4 .header-right {
    width: 50%;
  }
}
.header-section-4 .header-mobile .user a {
  color: #000;
}
.header-section-4 .mobile-nav .nav-trigger {
  color: #000;
}
.header-section-4 .navi > ul > li {
  font-weight: 400;
}
.header-section-4 .navi > ul > li > a {
  line-height: 90px;
  color: #00aeef;
  border: 1px solid transparent;
  border-top: 0;
  border-bottom: 0;
}
.header-section-4 .navi > ul > li > a:hover {
  color: rgba(0, 174, 239, 0.5);
  background-color: transparent;
}
.header-section-4 .navi > ul > li > a:active {
  color: rgba(0, 174, 239, 0.5);
  background-color: transparent;
}
.header-section-4 .navi > ul > li.active > a {
  color: rgba(0, 174, 239, 0.5);
  background-color: transparent;
}
.header-section-4 .navi > ul > li.active ul {
  top: 90px;
}
.header-section-4 .navi > ul ul {
  top: 110px;
}
.header-section-4 .navi > ul ul li.active ul.sub-menu {
  top: 0;
}
.header-section-4 .navi > ul ul ul.sub-menu {
  top: 20px;
}
.header-section-4 .account-action li {
  line-height: 90px;
  color: #00aeef;
}
.header-section-4 .account-action li.active .account-dropdown {
  top: 90px;
}
.header-section-4 .account-dropdown {
  top: 110px;
  /* mini phones and down */
  /* mini phones and down */
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-section-4 .account-dropdown {
    top: 80px;
  }
}
@media (max-width: 767px) {
  .header-section-4 .account-dropdown {
    top: 80px;
  }
}

.header-section-4.nav-right .container {
  position: relative;
}
.header-section-4.nav-right .header-left {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-right: 290px;
}
.header-section-4.nav-right .header-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 290px;
  z-index: 2;
}

.houzez-header-transparent {
  background-color: transparent !important;
}
/*START NAVIGATION*/
.sticky_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.sticky_nav .header-transparent {
  position: relative;
  background-color: #000;
}
.sticky_nav .header-transparent .navi > ul > li > a {
  color: #fff;
}
.sticky_nav .header-transparent .navi > ul > li > a:hover {
  color: #00aeef;
  background-color: transparent;
}
.sticky_nav .header-transparent .navi > ul > li > a:active {
  background-color: transparent;
}
.sticky_nav .header-transparent .navi > ul > li.active > a {
  background-color: transparent;
}
.sticky_nav.houzez-header-main {
  /* mini phones and down */
}
@media (max-width: 991px) {
  .sticky_nav.houzez-header-main {
    display: none !important;
  }
}
.sticky_nav.houzez-header-mobile {
  /* mini phones and down */
}
@media (min-width: 991px) {
  .sticky_nav.houzez-header-mobile {
    display: none !important;
  }
}
/*==end==*/
header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  box-shadow: -1px 4px 4px -1px rgba(0,0,0,.5);
  -webkit-box-shadow: -1px 4px 4px -1px rgba(0,0,0,.5);
  -moz-box-shadow: -1px 4px 4px -1px rgba(0,0,0,.5);
  -ms-box-shadow: -1px 4px 4px -1px rgba(0,0,0,.5);
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  .user {
    a {
      &.app-download {
        line-height: 36px;
        &:hover {
          .DownloadWrapper {
            display: block;
          }
        }
      }
    }
  }
  //
  .header-left {
    .header-left-wrapper {
      a {
        line-height: 60px;
        display: inline-block;
        float: left;
        vertical-align: middle;
        margin-right: 15px;
        color: #fff;
      }
    }
  }
}
.bottom-nav {
  background: #ebebeb;
  border-top: 1px solid #efefef;
  height: 50px;
  font-size: 13px;
}
// advance-search-header
[data-botom-nav-left] {
  float: left;
  padding: 0px;
  width: 100%;
  margin: 0px;
  list-style: none;
  font-weight: 400;
  li {
    float: left;
    margin-right: 25px;
    color: #000;
    line-height:3.8;
    vertical-align: middle;
    &:first-child {
      font-size: 14px;
      line-height:3.5;
    }
    a {
      color: #000;
      span {

      }
    }
    span {
      .fa {
        font-size: 20px;
        color: #999;
        margin: 0px 3px;
      }
    }
  }
}
//
[data-botom-nav-right] {
  float: right;
  padding: 0px;
  width: 100%;
  margin: 0px;
  list-style: none;
  font-weight: 400;
  > li {
    float: right;
    margin-left: 15px;
    color: #252a2c;
    line-height:3.5;
    &:first-child {
      font-size: 14px;
    }
    a {
      color: #252a2c;
      .fa-star-o {
        float: right;
        font-size: 20px;
        margin-top: 13px;
        margin-right: 5px;
      }
      span.addtocart {
        background-color: #e6573b;
        width: 18px;
        height: 18px;
        float: right;
        border-radius: 50px;
        margin-right: -28px;
        margin-top: 10px;
        line-height: 16px;
        color: #fff;
        font-size: 10px;
        font-weight: 700;
        text-align: center;
      }
    }
    span {

    }
  }
  .dropdown-menu {
    left: inherit;
    right: -15px;
    margin: 0px;
    padding: 0px;
    width: 450px;
    .notification-title {
      background: #00a8f2;
      padding: 6px 12px;
      color: #fff;
      position: relative;
      h5 {
        margin: 0px;
        a {
          color: #fff;
          font-weight: bold;
          .feed-count {
            border: solid 1px #fff;
            padding: 5px 8px;
            margin-left: 5px;
            display: inline-block;
            border-radius: 10px;
          }
        }
      }
      .close {
        .icon-close {
          font-size: 12px;
        }
      }
    }
    .show_shorlist {
      padding: 15px;
      text-align: center;
      .col-center {
        padding: 0px 90px;
      }
      p {
        line-height: 22px;
        margin-bottom: 0px;
        .gold {
          color: #ffa612;
        }
        &.devider {
          border-top: solid 1px #dedede;
          margin-top: 10px;
          padding-top: 10px;
        }
      }
    }
    .dropdown-footer {
      background: #e5f6fe;
      padding: 2px 10px;
      a {
        border: solid 1px #00bcdb;
        color: #007183;
        padding: 5px 8px;
        border-radius: 5px;
      }
    }
    &::before {
      content: "";
      border-width: 8px;
      border-style: solid;
      border-color: transparent transparent #00a8f2;
      position: absolute;
      right: 20px;
      top: -14px;
    }
  }
}
// advanced-search
.advanced-search {
  ul[sticky-nav-left] {
    list-style: none;
    margin: 11px 0px 10px 0px;
    li {
      a {
        color: #fff;
        font-size: 14px;
      }
    }
  }
  //
  ul[sticky-nav-right] {
    float: right;
    list-style: none;
    margin: 11px 0px 10px 0px;
    li {
      a {
        color: #fff;
        font-size: 14px;
      }
    }
  }
}
// price-list
.price-list {
  width: 120px;
  height: 42px;
  position: relative;
  color: #fff;
  border: solid 1px #827f7f;
  a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0px 7.5px;
    float: left;
    width: 100%;
    span {
      width: 90px;
      float: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    i {
      float: right;
      width: 10px;
      margin-top: 4px;
    }
  }
  > ul {
    margin: 0px;
    //padding: 5px 10px;
    width: 175px;
    list-style: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #5f5f5f;
    height: 200px;
    border: solid 1px #827f7f;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
    li {
      float: left;
      width: 100%;
      &[data-input] {
        padding: 8px;
        input[type="text"] {
          width: 45%;
          border: solid 1px #827f7f;
          border-radius: 3px;
          background-color: #5f5f5f;
          color: #fff;
          padding: 6px 5px;
          &:first-child {
            float: left;
          }
          &:last-child {
            float: right;
          }
        }
      }
      // data-price-list-left
      &[data-price-list-left] {
        display: none;
        > ul {
          padding: 0px;
          margin: 0px;
          float: left;
          width: 100%;
          li {
            float: left;
            width: 100%;
            border-top: solid 1px #827f7f;
            padding: 5px;
            border-left: solid 4px transparent;
            text-align: left;
            cursor: pointer;
            &:hover, &.active {
              border-left: solid 4px #7daf00;
              background-color: #000;
            }
          }
        }
      }
      // data-price-list-right
      &[data-price-list-right] {
        display: none;
        > ul {
          padding: 0px;
          margin: 0px;
          float: left;
          width: 100%;
          li {
            float: left;
            width: 100%;
            border-top: solid 1px #827f7f;
            padding: 5px;
            border-right: solid 4px transparent;
            text-align: right;
            cursor: pointer;
            &:hover, &.active {
              border-right: solid 4px #7daf00;
              background-color: #000;
            }
          }
        }
      }
    }
  }
}
//
@import "_propertyType.scss";
// prop-category
.prop-category {
  width: 90px;
  margin-right: 5px;
  border: solid 1px #827f7f;
  color: #fff;
  float: left;
  border-radius: 3px;
  position: relative;
  a {
    float: left;
    width: 100%;
    color: #fff;
    padding: 11px 0px;
    span {
      width: 65px;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      float: left;
      padding-left: 10px;
    }
    i {
      float: right;
      width: 15px;
      margin-top: 4px;
    }
    &:hover {
      text-decoration: none;
    }
  }
  > ul {
    position: absolute;
    list-style: none;
    left: 0;
    top: 40px;
    width: 100%;
    border: solid 1px #827f7f;
    background-color: #5f5f5f;
    display: none;
    li {
      float: left;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 5px 10px;
      cursor: pointer;
      &:hover {
        background-color: #6f6d6d;
      }
    }
  }
}
//
.hp-search-button {
  height: 42px;
  display: block;
  background-color: #7daf00;
  color: #fff;
}
// Scroll
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
	background-color: #F5F5F5 !important;
}
::-webkit-scrollbar {
	width: 6px !important;
	background-color: #F5F5F5 !important;
}
::-webkit-scrollbar-thumb {
	background-color: #000000 !important;
}
//
::-moz-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
	background-color: #F5F5F5 !important;
}
::-moz-scrollbar {
	width: 6px !important;
	background-color: #F5F5F5 !important;
}
::-moz-scrollbar-thumb {
	background-color: #000000 !important;
}

.DownloadWrapper {
  position: absolute;
  left: 50%;
  top: 35px;
  padding: 15px;
  margin-left: -125px;
  width: 250px;
  height: 120px;
  background-color: #fff;
  box-shadow: -1px 4px 4px -1px rgba(0,0,0,.5);
  -webkit-box-shadow: -1px 4px 4px -1px rgba(0,0,0,.5);
  -moz-box-shadow: -1px 4px 4px -1px rgba(0,0,0,.5);
  -ms-box-shadow: -1px 4px 4px -1px rgba(0,0,0,.5);
  background-image: url('../img/app.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  display: none;
  &::before {
    position: absolute;
    content: '';
    right: 0;
    top: -10px;
    margin: auto;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    left: 0;
  }
  p {
    text-align: left;
    &:nth-child(2n+1) {
      margin-bottom: 15px;
    }
  }
}
.bgColor {
  background-color: #fff !important;
  box-shadow: -1px 4px 4px -1px rgba(0,0,0,.5) !important;
  -webkit-box-shadow: -1px 4px 4px -1px rgba(0,0,0,.5) !important;
  -moz-box-shadow: -1px 4px 4px -1px rgba(0,0,0,.5) !important;
  -ms-box-shadow: -1px 4px 4px -1px rgba(0,0,0,.5) !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  .user {
    a {
      color: #000;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      &:hover {
        color: #000;
      }
    }
  }
  .button-outline {
    border: solid 1px #000;
  }
  .header-left-wrapper {
    a {
      color: #000 !important;
      .fa {
        color: #000;
      }
    }
  }
}
// Modal Add Start
.advertisement {
  .modal-body {
    @media only screen and (min-width: 1024px) {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
    }
    .flex-colum {
      flex: 1;
      -webkit-flex: 1;
      -moz-flex: 1;
    }
    .tab-content {
      @media only screen and (min-width: 1024px) {
        width: 60%;
        padding-right: 15px;
        .checkbox {
          margin-top: 0px;
        }
      }
    }
    .addSection  {
      @media only screen and (max-width: 1024px) {
        display: none;
      }
      ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        float: left;
        width: 100%;
        li {
          float: left;
          width: 100%;
          padding: 7.5px 7.5px 0px 7.5px;
          &:nth-child(even) {
            background-color: #dedede;
          }
          &:nth-child(odd) {
            background-color: #ededed;
          }
          a {
            display: block;
            img {
              width: 100%;
              margin-bottom: 5px;
            }
            p {
              span {
                display: block;
                &:first-child {
                  font-size: 11px;
                }
                &:last-child {
                  font-size: 10px;
                  color: #000;
                }
              }
            }
          }
        }
      }
    }
  }
}
