//
.listingContainer {
  @media only screen and (min-width: 1025px) {
    padding-top: 8px !important;
  }
}
//
.label-status {
  background-color: #333;
}
.contact_ajent {
  background-color: #ea923a;
  cursor: pointer;
}
.contact_outline {
  background-color: transparent;
  cursor: pointer;
  border: solid 1px #ea923a;
  color: #270a0a !important;
}
