[page-loader="false"] {
  display: none;
}
[page-loader="true"] {
  position: fixed;
  background-color: rgba(250,250,250,1);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 800;
  .loaderBlock {
    position: fixed;
    width: 600px;
    height: 275px;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    margin: auto;
    .load_dedding {
      margin-bottom: 15px;
      p {
        text-align: center;
        font-size: 14px;
        strong {
          font-weight: bold;
          color: #1276a7;
        }
      }
    }
    .figure-block {
      float: left;
      width: 190px;
      margin: 0px 5px;
    }
  }
}
