[page-loader] {
  position: fixed;
  background-color: rgba(250,250,250,1);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 800;
  .loaderBlock {
    position: fixed;
    width: 600px;
    height: 275px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}
