.main-search {
  max-width: 800px;
  height: 64px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  .search-btn {
    .btn-hp {
        padding: 6px 30px;
        height: 42px;
        width: 100%;
        background-color: #7daf00;
        color: #fff;
        text-transform: uppercase;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
  }
  .banner-search-main {
    @media only screen and (max-width:768px) {
      padding: 8px;
    }
    ul[tab-search] {
      float: left;
      width: 100%;
      margin: -44px -10px 0px;
      padding: 0px;
      list-style: none;
      @media only screen and (max-width:768px) {
        margin: -38px -8px 0px;
      }
      li {
        float: left;
        padding: 0px;
        margin-right: 2px;
        a {
          color: #000;
          font-size: 16px;
          padding: 6px 15px;
          background-color: rgba(255,255,255,.66);
          display: block;
          height: 100%;
          @media only screen and (max-width:768px) {
            font-size: 13px;
            padding: 6px 12px;
          }
          &.active {
            background-color: rgba(0,0,0,0.66);
            color: #fff;
          }
        }
      }
    }
  }
}
