.postpropertyContainer {
  .form-group {
    strong {
      font-weight: 700;
    }
  }
  .form-check-inline {
    margin-right: 10px;
  }
}
.postpropertyMap {
  height: 350px;
  background-color: #dedede;
  margin-top: 15px;
}
