.requirement_block {
  .radio_button {
    float: left;
    margin-right: 15px;
  }
  .min-max {
    float: left;
    width: 100%;
    input[type="text"] {
      width: 125px;
      &:first-child {
        float: left;
      }
      &:last-child {
        float: right;
      }
    }
  }
}
