.requirement_block {
  .radio_button {
    float: left;
    margin-right: 15px;
  }
}
[postproperty] {
  position: fixed;
  right: 0;
  width: 200px;
  height: 80px;
  top: 0;
  bottom: 0;
  margin: auto;
  border: solid 1px red;
  z-index: 999;
}
