[right-sticky] {
  position: fixed;
  right: 0;
  width: 50px;
  height: 200px;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 999;
  background-color: #e4e4e4;
  ul {
    float: left;
    width: 100%;
    margin: 0px;
    list-style: none;
    li {
      float: left;
      width: 100%;
      height: 33px;
      &:nth-child(odd) {
        background-color: #dedede;
      }
      a {
        display: block;
        height: 100%;
        //border: solid 1px red;
        text-align: center;
      }
    }
  }
}
