// .listingContainer {
//   section {
//     &:first-child {
//       padding: 0px 0px 35px 0px !important;
//     }
//   }
// }
section {
  float: left;
  width: 100%;
  padding: 35px 0px;
  &:first-child {
    padding: 0px 0px 35px 0px !important;
  }
  &:nth-child(even) {
    background-color: #ffffff;
  }
  &:nth-child(odd) {
    background-color: #f7f7f7;
  }
}
[read-data="false"] {
	visibility: hidden;
	height: 1px;
}
[read-data="true"] {
	visibility: visible;;
	height: auto;
}
