.text-container {
  .error-404-page {
    padding: 0px;
    h1 {
      font-weight: 300;
    }
    p {
      font-size: 14px;
      line-height: 20px;
      text-align: justify;
    }
    .btn-link {
      border: solid 1px #311b92;
      color: #311b92;
      padding: 8px 10px;
    }
  }
}
